{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block aircraft %}
    <div div class="container mt-4 mb-4 content-section">
        <!-- Bootstrap modal -->
        <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    </div>
                    <div class="modal-body" id="imgName">
                        <img class="modal-content" src="" id="showImg" style="width: 400px; height: 264px;" >
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tabs row -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#user" data-toggle="tab">User</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#parent" data-toggle="tab">Parent info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tithe" data-toggle="tab">Tithes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#events" data-toggle="tab">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#purchase" data-toggle="tab">Purchases</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pastor" data-toggle="tab">Pastor</a>
                    </li>
                </ul>
            </div>
        
            <div class="panel-body tab-content">
                <div class="tab-pane active" id="user">
                    <!-- User tab -->
                    <div class="col-md-6 col-md-push-6">
                        <div class="media">
                            <div class="border-right">
                                <a href={{ user.users_profile.image.url }}>
                                    <img class="account-img mr-4" width=200
                                    src="{{ user.image.url }}">
                                </a>
                            </div>
                            <div class="media-body">
                                <h2 class="account-heading ml-4">Username: {{ user.username }}</h2>
                                <p class="text-secondary ml-4">Email address: {{ user.email }}</p>
                            </div>
                        </div>
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                                <div class="col-sm-6">
                                    <fieldset class="form-group">
                                        <legend class="border-bottom mb-4">Profile Info</legend>
                                        {{ p_form|crispy }}
                                    </fieldset>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-outline-info mb-3" name="updateButton" type="submit">Update</button>
                                </div>
                        </form>       
                    </div>
                </div>

                <div class="tab-pane" id="parent">
                    <!-- Parent tab -->
                    <div class="col-md-6 col-md-pull-6">
                        <div class="col-md-10">
                            <div class="content-section">
                                <h3>Children</h3>
                                <p class='text-muted'>Parent information.  Please check the 'parent'
                                    box on the User profile page.
                                    {% if user.is_parent == True %}
                                        <ul class="list-group">
                                            <li class="list-group-item list-group-item-light">
                                                <h3>Add Youth</h3>
                                                    <form id="addYouth" method="POST" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <div class="form-group">
                                                        <input class="form-control" type="text" name="youth_first_name" id="youth_f_n_id" placeholder="First name" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <input class="form-control" type="text" name="youth_middle_name" id="youth_m_n_id" placeholder="Middle name" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <input class="form-control" type="text" name="youth_last_name" id="youth_l_n_id" min="10" max="100" placeholder="Last name" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <input class="form-control" type="file" name="youth_img" id="youth_img_id" placeholder="Photo" required>
                                                    </div>
                                                    <button class="btn btn-primary form-control" name="submitYouth" id="submitYouthBtn" type="submit">SUBMIT</button>
                                                </form>
                                            </li>
                                        </ul>
                                    {% endif %}
                                </p>
                            </div>
                            <div class="border-bottom mb-4"></div>
                            <div class="form-group">
                                {% if user.is_parent == True %}
                                    <table id="youthTable" class="table">
                                        <tbody>
                                        {% for family in fams %}
                                            {% if user.id == family.guardian_id %}
                                                {% for youth in youts %}
                                                    {% if youth.id == family.youth_id %}
                                                        <thead class="thead-light">
                                                            <tr>
                                                                <th></th> <!-- First name -->
                                                                <th>First</th> <!-- Middle name -->
                                                                <th colspan="3"></th> <!-- Last name -->
                                                            </tr>
                                                        </thead>
                                                        <tr id="youth-{{youth.id}}">
                                                            <td class="youthim youthData" name="youth_img">
                                                                <a href="#" data-toggle="modal" data-target="#imagemodal">
                                                                    <img class="myImg" height=30 width=30 src="/media/{{youth.image}}">
                                                                </a>
                                                            </td>
                                                            <td class="youthfn youthData" name="youth_first_name">{{youth.youth_first_name}}</td>

                                                            <form id="precheckYouth" action="">
                                                                <td align="center">
                                                                    <div class="form-group">
                                                                        <input type="checkbox" name="pre_check" class="youthcb youthData" style="display:none" {% if youth.pre_check %}checked{% endif %} />

                                                                        {% if youth.pre_check %}
                                                                            <button class="btn btn-outline-success form-control" name="checkinYouth({{forloop.counter}})" onClick="checkinYouth({{youth.id}})">Checkout</button>
                                                                        {% else %}
                                                                            <button class="btn btn-success form-control" name="checkinYouth({{forloop.counter}})" onClick="checkinYouth({{youth.id}})">Checkin</button>
                                                                        {% endif %}
                                                                    </div>
                                                                </td>
                                                            </form>
                                                            
                                                            <td align="center">
                                                                <div class="form-group">
                                                                    <button class="btn btn-outline-info form-control" id="editTblBtn-{{youth.id}}" onClick="editYouth('{{ youth.id }}',
                                                                                                                                        '{{ youth.youth_first_name }}',
                                                                                                                                        '{{ youth.youth_middle_name }}',
                                                                                                                                        '{{ youth.youth_last_name }}',
                                                                                                                                        '{{ youth.image }}')"
                                                                                                                                        data-toggle="modal" data-target="#youthModal">EDIT</button>
                                                                </div>
                                                            </td>
                                                            <td align="center">
                                                                <button class="btn btn-outline-danger form-control" onClick="deleteYouth({{youth.id}})">DELETE</button>
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <div class="border-bottom mb-4"></div>

                                    <div class="qrcodediv pb-3" id="qrimg">
                                        {% if preferences == True %}
                                            {% if not obj.completed %}
                                                <h3 class="text-muted">Checkout code</h3>
                                                <img src={{obj.qr_code.url}}></div>
                                            {% else %} <!-- Do not show the button if the QR code is showing -->
                                                <p><button class="btn btn-success form-control" onClick="createQR()">Create QR</button>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane pt-3" id="tithe">
                    <h3>Tithes and Offerings</h3>
                    <div class="border-top pt-3">
                        <table id="titleTable" class="table table-striped table-hover">
                            <tbody>
                                <tr>
                                    <th>Amount</th>
                                    <th>Date</th>
                                </tr>
                                {% for tithe in tithelog %}
                                    <tr>
                                        <td name="none">
                                            $ {{ tithe.giveAmount|floatformat:2 }}
                                        </td>
                                        <td name="none">
                                            {{ tithe.giveDate }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="tab-pane" id="events">
                    <p>Event history</p>

                    <p>To do

                    {% include 'events/snippets/event_snippet.html' %}
                </div>

                <div class="tab-pane" id="purchase">
                    <p>Purchase history</p>

                    <p>To do
                </div>

                {% if user.is_pastor == True %}
                    <div class="tab-pane" id="pastor">
                        <p>Pastor</p>

                        <hr>
                        Hello Pastor!
                        <p>To do
                    </div>
                {% endif %}

            </div>
        </div>    

        <!-- Youth Modal -->
        <div class="modal fade" id="youthModal" tabindex="-1" role="dialog" aria-labelledby="youthModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="youthModalLabel">Update Youth</h4>
                    </div>
                    <form id="updateYouth" action="">
                        <div class="modal-body">
                            <input class="form-control" id="form-youthid" type="hidden" name="formYouthId"/>
                            <label for="youth_first_name">First name</label>
                            <input class="form-control" id="form-youthf" type="text" name="formYFN"/>
                            <label for="youth_middle_name">Middle name</label>
                            <input class="form-control" id="form-youthm" type="text" name="formYMN"/>
                            <label for="youth_last_name">Last name</label>
                            <input class="form-control" id="form-youthl" type="text" name="formYLN"/>
                            <label for="youth_img">Photo</label>
                            <input class="form-control" id="form-youthimg" type="file" name="formIMG"/>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" id="editYouthBtn">Save changes</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" onClick="closeDecorate()">Close</button>
                        </div>
                    </form>
               </div>
            </div>
        </div> 
    </div>
{% endblock %}
{% block javascript %}
<script>

    //Modal popups for youth
    let modal = document.getElementById("imagemodal");
    let img = document.getElementsByClassName("myImg");
    let modalImg = document.getElementById("showImg");
    let modalName = document.getElementById("imgName");

    for (i = 0; i < img.length; i++) {
        img[i].onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            modalName = this.parentElement.getElementsByClassName('myImg')[0].innerHTML;
        }
    }

// Create Youth
$("form#addYouth").submit(function() {
    const csrf = document.getElementsByName('csrfmiddlewaretoken');
    var btnName = document.getElementById("submitYouthBtn");
    btnName.innerHTML = "Uploading....";
    btnName.classList.remove("btn-primary");
    btnName.classList.add("btn-outline-primary");
    btnName.disabled = true;
    var fnInput = $('input[name="youth_first_name"]').val().trim();
    var mnInput = $('input[name="youth_middle_name"]').val().trim();
    var lnInput = $('input[name="youth_last_name"]').val().trim();
    const input = document.getElementById('youth_img_id')
    const img_data = input.files[0]
    const fd = new FormData()
    fd.append('csrfmiddlewaretoken', csrf[0].value)
    fd.append('image', img_data)
    fd.append('youth_first_name', fnInput)
    fd.append('youth_middle_name', mnInput)
    fd.append('youth_last_name', lnInput)
    var imgsize = img_data.size;
    var imgsizelimit = 1024 * 1024 * 10;
    if (imgsize < imgsizelimit) {
        // Create Ajax Call
        $.ajax({
            url: '{% url "ajax_call_createyouth" %}',
            type: "POST",
            data: fd,
            enctype: 'multipart/form-data',
            processData: false,
            contentType: false,
            success: function (data) {
              appendToYouthTable(data.youth);
            },
            error: function (err) {
              console.log(err);
            }
        });
      } else {
        alert("Selected image cannot be larger than 10Mb.");
    }
    btnName.innerHTML = "SUBMIT";
    btnName.classList.remove("btn-outline-primary");
    btnName.classList.add("btn-primary");
    btnName.disabled = false;
    $('form#addUser').trigger("reset");
    return false;
});

function appendToYouthTable(youth) {
  console.log(youth);
  console.log(youth.image);
  $("#youthTable > tbody:last-child").append(`
    <tr>
        <th></th> <!-- First name -->
        <th>First</th> <!-- Middle name -->
        <th colspan="3"></th> <!-- Last name -->
    </tr>
    <tr id="youth-${youth.id}">
        <td class="youthim youthData" name="youth_img">
            <a href="#" data-toggle="modal" data-target="#imagemodal">
                <img class="myImg" height=30 width=30 src="${youth.image}">
            </a>
        </td>

        <td class="youthfn" name="youth_first_name">${youth.youth_first_name}</td>

        <form id="precheckYouth" action="">
            <td align="center">
                <div class="form-group">
                    <input type="checkbox" name="pre_check" class="youthcb youthData" style="display:none" {% if youth.pre_check %}checked{% endif %} />

                    {% if youth.pre_check %}
                        <button class="btn btn-outline-success form-control" onClick="checkinYouth({{youth.id}})">Checkout</button>
                    {% else %}
                        <button class="btn btn-success form-control" onClick="checkinYouth({{youth.id}})">Checkin</button>
                    {% endif %}
                </div>
            </td>
        </form>

        <td align="center">
            <div class="form-group">
                <!-- Button hidden for now.  Edit doesn't return data with a new button. -->
                <button class="btn btn-outline-info form-control" onClick="editYouth('{{ youth.id }}',
                                                                        '{{ youth.youth_first_name }}',
                                                                        '{{ youth.youth_middle_name }}',
                                                                        '{{ youth.youth_last_name }}',
                                                                        '{{ youth.image }}')"
                                                                        data-toggle="modal" style="display:none" data-target="#youthModal")">EDIT</button>
                <button class="btn btn-outline-info form-control" data-toggle="modal" onClick="window.location.reload();">Refresh</button>
            </div>
        </td>
        <td align="center">
            <button class="btn btn-outline-danger form-control" onClick="deleteYouth({{youth.id}})">DELETE</button>
        </td>
    </tr>`);
}

// Update Youth
$("form#updateYouth").submit(function() {
    const csrf = document.getElementsByName('csrfmiddlewaretoken');
    var idInput = $('input[name="formYouthId"]').val().trim();
    var fnInput = $('input[name="formYFN"]').val().trim();
    var mnInput = $('input[name="formYMN"]').val().trim();
    var lnInput = $('input[name="formYLN"]').val().trim();
    const input = document.getElementById('form-youthimg')
    const img_data = input.files[0]
    const fd = new FormData()
    fd.append('csrfmiddlewaretoken', csrf[0].value)
    fd.append('image', img_data)
    fd.append('id', idInput)
    fd.append('youth_first_name', fnInput)
    fd.append('youth_middle_name', mnInput)
    fd.append('youth_last_name', lnInput)
    var btnName = document.getElementById('editTblBtn-' + idInput);
    btnName.disabled = true;
    var imgsize = img_data.size;
    var imgsizelimit = 1024 * 1024 * 10;
    if (imgsize < imgsizelimit) {
        $.ajax({
            url: '{% url "ajax_call_updateYouth" %}',
            type: "POST",
            data: fd,
            enctype: 'multipart/form-data',
            processData: false,
            contentType: false,
            success: function (data) {
                if (data.youth) {
                  updateToYouthTabel(data.youth);
                }
            }
        });
       } else {
        alert("Selected image cannot be larger than 10Mb.");
    }
    //$('form#updateYouth').trigger("reset");
    $('#youthModal').modal('hide');
    closeDecorate();
    return false;
});

function editYouth(id, fn, mn, ln, img) {
    var btnName = document.getElementById('editTblBtn-' + id);
    btnName.innerHTML = "Uploading....";
    btnName.classList.remove("btn-outline-info");
    btnName.classList.add("btn-secondary");
    //btnName.disabled = true;
    if (id) {
        $('#form-youthid').val(id);
        $('#form-youthf').val(fn);
        $('#form-youthm').val(mn);
        $('#form-youthl').val(ln);
        $('#form-youthimg').val(img);
        var idInput = $('input[name="formYouthId"]').val().trim();
        console.log(idInput);
    }
}

function closeDecorate() {
    var btnNmbr = document.getElementById('form-youthid').value;
    var btnName = document.getElementById('editTblBtn-' + btnNmbr);
    btnName.innerHTML = "EDIT";
    btnName.classList.remove("btn-secondary");
    btnName.classList.add("btn-outline-info");
    btnName.disabled = false;
}

function updateToYouthTabel(youth){
    $("#youthTable #youth-" + youth.id).children(".youthData").each(function() {
        var attr = $(this).attr("name");
        if (attr == "youth_first_name") {
          $(this).text(youth.youth_first_name);
        } else if (attr == "youth_middle_name") {
          $(this).text(youth.youth_middle_name);
        } else if (attr == "youth_last_name") {
          $(this).text(youth.youth_last_name);
        } else if (attr == "youth_img") {
          $(this).find('img').attr("src", youth.image);
        }
      });
}

function deleteYouth(id) {
  var action = confirm("Are you sure you want to delete this youth?");
  if (action != false) {
    $.ajax({
        url: '{% url "ajax_call_deleteYouth" %}',
        data: {
            'id': id,
        },
        dataType: 'json',
        success: function (data) {
            if (data.deleted) {
              $("#youthTable #youth-" + id).remove();
            }
        }
    });
  }
}

function checkinYouth(id) {
  var cnInput;
  //Use youth id to locate the row and grab the specific checkbox
  if (id) {
    tr_id = "#youth-" + id;
    cnInput = $(tr_id).find("input[type=checkbox][name='pre_check']").is(":checked");
  }

  //If the function is called, reverse the flag
  if (cnInput == true) {
      cnInput = false;
  }
  else
  {
      cnInput = true;
  }

  var action = false;
  var youthobj = {
      'id': id,
      'pre_check': cnInput
    };
  
  if (id) {
    $.ajax({
        url: '{% url "ajax_call_guardianPreCheck" %}',
        data: youthobj,
        dataType: 'json',
        success: function (data) {
            $('form#precheckYouth').trigger("reset");
        }
    });
  }
}

function createQR() {
    $.ajax({
        url: '{% url "ajax_call_createQR" %}',
        dataType: 'json',
        success: function (data) {
            if (data) {
                updateQRImg(data.obj);
                $('form#qrCode').trigger("reset");
            }
        }
    });
}

function updateQRImg(obj){
    var imagesBlock = document.getElementById("qrimg");
    var qrcodevar = new Image();
    qrcodevar.src = obj['qr_code'];
    var a = document.createElement('a');
    a.appendChild(qrcodevar);
    imagesBlock.appendChild(a);
}

</script>
{% endblock javascript%}